In [53]:
import pandas as pd
df = pd.read_csv('framingham.csv')

In [54]:
df.tail(10)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,NaN,0
4231,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [55]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [56]:
df.tail(10)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
3648,1,58,1.0,0,0.0,0.0,0,0,0,233.0,125.5,84.0,26.05,67.0,76.0,1
3649,1,43,4.0,1,20.0,0.0,0,0,0,187.0,129.5,88.0,25.62,80.0,75.0,0
3650,0,50,1.0,0,0.0,0.0,0,1,1,260.0,190.0,130.0,43.67,85.0,260.0,0
3651,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
3652,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
3653,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
3654,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
3655,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
3656,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
3657,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [57]:
df = df[['age','male','cigsPerDay','totChol','sysBP','glucose','TenYearCHD']]
df.describe()

,age,male,cigsPerDay,totChol,sysBP,glucose,TenYearCHD
count,3658.000000,3658.000000,3658.000000,3658.000000,3658.000000,3658.000000,3658.000000
mean,49.551941,0.443685,9.025424,236.847731,132.370558,81.852925,0.152269
std,8.562029,0.496886,11.921590,44.097681,22.086866,23.904164,0.359331
min,32.000000,0.000000,0.000000,113.000000,83.500000,40.000000,0.000000
25%,42.000000,0.000000,0.000000,206.000000,117.000000,71.000000,0.000000
50%,49.000000,0.000000,0.000000,234.000000,128.000000,78.000000,0.000000
75%,56.000000,1.000000,20.000000,263.000000,143.875000,87.000000,0.000000
max,70.000000,1.000000,70.000000,600.000000,295.000000,394.000000,1.000000

In [58]:
Type_new = pd.Series([])

for i in range(3658):
    if(df['sysBP'][i]<100):
        Type_new[i]=1
    elif(df['sysBP'][i]<150):
        Type_new[i]=2
    elif(df['sysBP'][i]<200):
        Type_new[i]=3
    elif(df['sysBP'][i]<250):
        Type_new[i]=4
    elif(df['sysBP'][i]<300):
        Type_new[i]=5
       

print(Type_new.size)        
df.insert(2,'sysClass',Type_new)        
df.head()

3658

   age  male  sysClass  cigsPerDay  totChol  sysBP  glucose  TenYearCHD
0   39     1         2         0.0    195.0  106.0     77.0           0
1   46     0         2         0.0    250.0  121.0     76.0           0
2   48     1         2        20.0    245.0  127.5     70.0           0
3   61     0         3        30.0    225.0  150.0    103.0           1
4   46     0         2        23.0    285.0  130.0     85.0           0

In [59]:
Type_new = pd.Series([])

for i in range(3658):
    if(df['age'][i]<35):
        Type_new[i]=1
    elif(df['age'][i]<45):
        Type_new[i]=2
    elif(df['age'][i]<55):
        Type_new[i]=3
    elif(df['age'][i]<65):
        Type_new[i]=4
    elif(df['age'][i]<80):
        Type_new[i]=5
       

print(Type_new.size)        
df.insert(2,'ageClass',Type_new)        
df.head()

3658

,age,male,ageClass,sysClass,cigsPerDay,totChol,sysBP,glucose,TenYearCHD
0,39,1,2,2,0.0,195.0,106.0,77.0,0
1,46,0,3,2,0.0,250.0,121.0,76.0,0
2,48,1,3,2,20.0,245.0,127.5,70.0,0
3,61,0,4,3,30.0,225.0,150.0,103.0,1
4,46,0,3,2,23.0,285.0,130.0,85.0,0

In [60]:
Type_new = pd.Series([])

for i in range(3658):
    if(df['glucose'][i]<100):
        Type_new[i]=1
    elif(df['glucose'][i]<150):
        Type_new[i]=2
    elif(df['glucose'][i]<200):
        Type_new[i]=3    
    elif(df['glucose'][i]>=200):
        Type_new[i]=4
        
df.insert(2,'gluClass',Type_new)        
df.head()

,age,male,gluClass,ageClass,sysClass,cigsPerDay,totChol,sysBP,glucose,TenYearCHD
0,39,1,1,2,2,0.0,195.0,106.0,77.0,0
1,46,0,1,3,2,0.0,250.0,121.0,76.0,0
2,48,1,1,3,2,20.0,245.0,127.5,70.0,0
3,61,0,2,4,3,30.0,225.0,150.0,103.0,1
4,46,0,1,3,2,23.0,285.0,130.0,85.0,0

In [61]:
df['gluClass'].unique()

array([1, 2, 4, 3], dtype=int64)

In [62]:
Type_new = pd.Series([])

for i in range(3658):
    if(df['totChol'][i]<150):
        Type_new[i]=1
    elif(df['totChol'][i]<200):
        Type_new[i]=2
    elif(df['totChol'][i]<250):
        Type_new[i]=3
    elif(df['totChol'][i]>=250):
        Type_new[i]=4
            
df.insert(2,'cholClass',Type_new)        
df.head()

,age,male,cholClass,gluClass,ageClass,sysClass,cigsPerDay,totChol,sysBP,glucose,TenYearCHD
0,39,1,2,1,2,2,0.0,195.0,106.0,77.0,0
1,46,0,4,1,3,2,0.0,250.0,121.0,76.0,0
2,48,1,3,1,3,2,20.0,245.0,127.5,70.0,0
3,61,0,3,2,4,3,30.0,225.0,150.0,103.0,1
4,46,0,4,1,3,2,23.0,285.0,130.0,85.0,0

In [63]:
Type_new = pd.Series([])

for i in range(3658):
    if(df['cigsPerDay'][i]<5):
        Type_new[i]=1
    elif(df['cigsPerDay'][i]<15):
        Type_new[i]=2
    elif(df['cigsPerDay'][i]<25):
        Type_new[i]=3
    elif(df['cigsPerDay'][i]<35):
        Type_new[i]=4
    elif(df['cigsPerDay'][i]>=35):
        Type_new[i]=5
            
df.insert(2,'cigClass',Type_new)        
df.head()

,age,male,cigClass,cholClass,gluClass,ageClass,sysClass,cigsPerDay,totChol,sysBP,glucose,TenYearCHD
0,39,1,1,2,1,2,2,0.0,195.0,106.0,77.0,0
1,46,0,1,4,1,3,2,0.0,250.0,121.0,76.0,0
2,48,1,3,3,1,3,2,20.0,245.0,127.5,70.0,0
3,61,0,4,3,2,4,3,30.0,225.0,150.0,103.0,1
4,46,0,3,4,1,3,2,23.0,285.0,130.0,85.0,0

In [64]:
df = df[['ageClass','male','cholClass','cigClass','sysClass','gluClass','TenYearCHD']]
df.head()

   ageClass  male  cholClass  cigClass  sysClass  gluClass  TenYearCHD
0         2     1          2         1         2         1           0
1         3     0          4         1         2         1           0
2         3     1          3         3         2         1           0
3         4     0          3         4         3         2           1
4         3     0          4         3         2         1           0

In [65]:
import numpy as np
clValue,counts = np.unique(df['TenYearCHD'],return_counts=True) 
print(clValue)
print(counts)

[0 1]
[3101  557]

In [66]:
import numpy as np
from math import log2 as log
def information_gain(df):
  Class = df.keys()[-1]
  P_type = df.loc[df[Class]== 0].count().sum()/n
  N_type = df.loc[df[Class]== 1].count().sum()/n
  Info_gain = - (P_type/(P_type+N_type))*(log(P_type/(P_type+N_type))) - (N_type/(N_type+P_type))*(log(N_type/(N_type+P_type)))
  return Info_gain

In [67]:
def find_entropy_attribute(df,col):
    values = df[col].unique()
    Class = df.keys()[-1]
    entropy = 0
    for value in values:
        P_type = df.loc[(df[Class]== 0) & (df[col] == (value))].count().sum()/n
        N_type = df.loc[(df[Class]== 1) & (df[col] == (value))].count().sum()/n
        if(P_type==0 or N_type==0):
            Info_gain = 0
        else:
            Info_gain = - (P_type/(P_type+N_type))*(log(P_type/(P_type+N_type))) - (N_type/(N_type+P_type))*(log(N_type/(N_type+P_type)))
        Prob = (df.loc[df[col] == (value)].count().sum()/n)/total
        entropy = entropy + Prob*Info_gain
    return entropy

In [68]:
def find_best(df):
  Gain = {}
  for keys in df.keys()[:-1]:
    Gain[keys]= information_gain(df)-find_entropy_attribute(df,keys)
  return max(Gain, key=Gain.get)

In [69]:
def get_subtable(df, node,value):
  return df[df[node] == value].reset_index(drop=True)

In [85]:
def buildTree(df,depth,tree=None): 
    Class = df.keys()[-1]  
    node = find_best(df)
    attValue = np.unique(df[node])
     
    if tree is None:                    
        tree={}
        tree[node] = {}

    for value in attValue:
        subtable = get_subtable(df,node,value)
        clValue,counts = np.unique(subtable['TenYearCHD'],return_counts=True)                        
        if len(counts)==1:
            tree[node][value] = clValue[0]    
        elif(depth==5):
            if(counts[0]>=counts[1]):
                tree[node][value] = clValue[0]
            else:
                tree[node][value] = clValue[1]
        else:            
            tree[node][value] = buildTree(subtable,depth + 1 )                    
    return tree

In [71]:
def predict_outcome(inst,tree):
    for nodes in tree.keys():        
        value = inst[nodes]
        tree = tree[nodes][value]
        prediction = 0
        if type(tree) is dict:
            prediction = predict_outcome(inst, tree)
        else:
            prediction = tree
            break                                
    return prediction

In [72]:
df.head()
n = df.shape[1]
total = df.shape[0]
print(n)
print(total)

7
3658

In [86]:
import pprint
tree = buildTree(df,0)
pprint.pprint(tree)

{'ageClass': {1: 0,
              2: {'cigClass': {1: {'gluClass': {1: {'male': {0: {'sysClass': {1: {'cholClass': {2: 0,
                                                                                                3: 0}},
                                                                              2: {'cholClass': {1: 0,
                                                                                                2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              3: 0}},
                                                             1: {'sysClass': {2: {'cholClass': {1: 0,
                                                                                                2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              3: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}}}}}},
                                                2: {'cholClass': {1: 1,
                                                                  2: 0,
                                                                  3: {'male': {0: 0,
                                                                               1: {'sysClass': {2: 0,
                                                                                                3: 0}}}},
                                                                  4: 0}},
                                                3: 0,
                                                4: 1}},
                               2: {'male': {0: {'cholClass': {1: 0,
                                                              2: {'sysClass': {1: 0,
                                                                               2: {'gluClass': {1: 0,
                                                                                                2: 0}},
                                                                               3: 0}},
                                                              3: {'gluClass': {1: {'sysClass': {1: 0,
                                                                                                2: 0}},
                                                                               2: {'ageClass': {2: 0}}}},
                                                              4: {'ageClass': {2: {'ageClass': {2: 0}}}}}},
                                            1: 0}},
                               3: {'gluClass': {1: {'cholClass': {1: 0,
                                                                  2: {'male': {0: {'sysClass': {1: 0,
                                                                                                2: 0,
                                                                                                3: 0}},
                                                                               1: {'sysClass': {2: 0,
                                                                                                3: 0}}}},
                                                                  3: {'sysClass': {1: 0,
                                                                                   2: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   3: {'male': {0: 0,
                                                                                                1: 0}}}},
                                                                  4: {'male': {0: 0,
                                                                               1: {'sysClass': {2: 0,
                                                                                                3: 0}}}}}},
                                                2: {'cholClass': {2: 0,
                                                                  3: {'male': {0: 0,
                                                                               1: {'ageClass': {2: 0}}}},
                                                                  4: {'male': {0: {'ageClass': {2: 0}},
                                                                               1: {'sysClass': {2: 0,
                                                                                                3: 0}}}}}},
                                                3: 0,
                                                4: 0}},
                               4: {'sysClass': {1: 0,
                                                2: {'gluClass': {1: {'cholClass': {2: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   3: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   4: {'male': {0: 0,
                                                                                                1: 0}}}},
                                                                 2: {'cholClass': {3: 0,
                                                                                   4: {'ageClass': {2: 0}}}},
                                                                 3: 1}},
                                                3: {'gluClass': {1: {'cholClass': {2: 1,
                                                                                   3: {'male': {0: 1,
                                                                                                1: 0}},
                                                                                   4: {'male': {0: 0,
                                                                                                1: 0}}}},
                                                                 2: 0}}}},
                               5: {'cholClass': {2: {'sysClass': {2: {'male': {0: 0,
                                                                               1: {'ageClass': {2: 0}}}},
                                                                  3: 1}},
                                                 3: {'male': {0: 0,
                                                              1: {'gluClass': {1: {'sysClass': {2: 0,
                                                                                                3: 0}},
                                                                               2: 0}}}},
                                                 4: {'sysClass': {2: {'ageClass': {2: {'ageClass': {2: 0}}}},
                                                                  3: 0}}}}}},
              3: {'male': {0: {'gluClass': {1: {'cigClass': {1: {'sysClass': {1: 0,
                                                                              2: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              3: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              4: 0}},
                                                             2: {'sysClass': {1: 0,
                                                                              2: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              3: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              4: 1}},
                                                             3: {'sysClass': {1: {'cholClass': {2: 0,
                                                                                                3: 0}},
                                                                              2: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              3: 0,
                                                                              4: 0}},
                                                             4: {'sysClass': {1: 0,
                                                                              2: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              3: 0}},
                                                             5: {'cholClass': {2: 0,
                                                                               3: 0,
                                                                               4: {'ageClass': {3: 0}}}}}},
                                            2: {'sysClass': {2: {'cholClass': {2: {'cigClass': {1: 0,
                                                                                                2: 0,
                                                                                                3: 0}},
                                                                               3: 0,
                                                                               4: {'cigClass': {1: 0,
                                                                                                2: 0,
                                                                                                3: 0}}}},
                                                             3: {'cigClass': {1: {'cholClass': {3: 0,
                                                                                                4: 0}},
                                                                              2: 0,
                                                                              3: 0}},
                                                             4: {'cholClass': {2: 0,
                                                                               3: 1}}}},
                                            4: {'sysClass': {2: 0,
                                                             3: {'cholClass': {2: 1,
                                                                               3: 1,
                                                                               4: 0}},
                                                             4: 1}}}},
                           1: {'sysClass': {1: 0,
                                            2: {'gluClass': {1: {'cigClass': {1: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              2: {'cholClass': {1: 1,
                                                                                                2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              3: {'cholClass': {1: 0,
                                                                                                2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              4: {'cholClass': {1: 1,
                                                                                                2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              5: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}}}},
                                                             2: {'cholClass': {2: 0,
                                                                               3: {'cigClass': {1: 0,
                                                                                                3: 0,
                                                                                                4: 0,
                                                                                                5: 0}},
                                                                               4: {'cigClass': {1: 0,
                                                                                                3: 0,
                                                                                                4: 0}}}},
                                                             3: {'cholClass': {2: 0,
                                                                               3: {'cigClass': {1: 1,
                                                                                                2: 0}},
                                                                               4: 1}},
                                                             4: {'cholClass': {3: 0,
                                                                               4: 1}}}},
                                            3: {'cigClass': {1: {'cholClass': {2: 0,
                                                                               3: {'gluClass': {1: 0,
                                                                                                2: 0}},
                                                                               4: {'gluClass': {1: 0,
                                                                                                4: 1}}}},
                                                             2: {'cholClass': {3: {'ageClass': {3: 0}},
                                                                               4: {'ageClass': {3: 1}}}},
                                                             3: {'gluClass': {1: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              2: {'cholClass': {2: 0,
                                                                                                3: 0}},
                                                                              3: 0}},
                                                             4: {'cholClass': {2: 1,
                                                                               3: {'ageClass': {3: 0}},
                                                                               4: 0}},
                                                             5: {'cholClass': {2: 0,
                                                                               3: {'ageClass': {3: 0}},
                                                                               4: {'gluClass': {1: 0,
                                                                                                2: 1}}}}}},
                                            4: 1}}}},

              4: {'sysClass': {1: {'cholClass': {1: 1,
                                                 2: 0,
                                                 4: {'gluClass': {1: 1,
                                                                  3: 0,
                                                                  4: 1}}}},
                               2: {'cigClass': {1: {'gluClass': {1: {'male': {0: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}},
                                                                              1: {'cholClass': {2: 0,
                                                                                                3: 0,
                                                                                                4: 0}}}},
                                                                 2: {'cholClass': {2: 0,
                                                                                   3: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   4: {'male': {0: 0,
                                                                                                1: 1}}}},
                                                                 3: {'male': {0: 0,
                                                                              1: {'ageClass': {4: 0}}}},
                                                                 4: {'male': {0: {'cholClass': {3: 0,
                                                                                                4: 1}},
                                                                              1: 1}}}},
                                                2: {'cholClass': {2: {'male': {0: 0,
                                                                               1: {'gluClass': {1: 0,
                                                                                                2: 0}}}},
                                                                  3: {'gluClass': {1: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   2: 0}},
                                                                  4: {'male': {0: {'ageClass': {4: 0}},
                                                                               1: 0}}}},
                                                3: {'cholClass': {2: {'male': {0: 1,
                                                                               1: {'gluClass': {1: 0,
                                                                                                2: 0}}}},
                                                                  3: {'gluClass': {1: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   2: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   4: 0}},
                                                                  4: {'gluClass': {1: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   2: 0}}}},
                                                4: {'cholClass': {2: {'gluClass': {1: {'ageClass': {4: 0}},
                                                                                   2: 0}},
                                                                  3: {'male': {0: 0,
                                                                               1: {'gluClass': {1: 0,
                                                                                                2: 0}}}},
                                                                  4: 0}},
                                                5: {'male': {0: 1,
                                                             1: {'cholClass': {2: 0,
                                                                               3: {'gluClass': {1: 1,
                                                                                                4: 1}},
                                                                               4: {'gluClass': {1: 0,
                                                                                                2: 1}}}}}}}},
                               3: {'cigClass': {1: {'gluClass': {1: {'cholClass': {2: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   3: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   4: {'male': {0: 0,
                                                                                                1: 0}}}},
                                                                 2: {'cholClass': {2: 0,
                                                                                   3: {'male': {0: 0,
                                                                                                1: 1}},
                                                                                   4: {'male': {0: 0,
                                                                                                1: 1}}}},
                                                                 3: 0,
                                                                 4: {'male': {0: {'cholClass': {3: 0,
                                                                                                4: 1}},
                                                                              1: 0}}}},
                                                2: {'male': {0: {'gluClass': {1: {'cholClass': {3: 0,
                                                                                                4: 0}},
                                                                              2: {'cholClass': {3: 1,
                                                                                                4: 0}}}},
                                                             1: {'gluClass': {1: {'cholClass': {3: 1,
                                                                                                4: 0}},
                                                                              2: 0}}}},
                                                3: {'gluClass': {1: {'cholClass': {2: {'male': {0: 1,
                                                                                                1: 0}},
                                                                                   3: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   4: {'male': {0: 0,
                                                                                                1: 0}}}},
                                                                 2: 1}},
                                                4: {'cholClass': {3: {'gluClass': {1: {'male': {0: 0,
                                                                                                1: 1}},
                                                                                   2: 1}},
                                                                  4: 1}},
                                                5: {'cholClass': {3: 1,
                                                                  4: {'male': {0: 1,
                                                                               1: {'gluClass': {1: 0,
                                                                                                2: 1}}}}}}}},
                               4: {'gluClass': {1: {'cigClass': {1: {'cholClass': {2: 0,
                                                                                   3: 0,
                                                                                   4: {'ageClass': {4: 0}}}},
                                                                 3: {'male': {0: 0,
                                                                              1: 1}},
                                                                 5: 1}},
                                                2: {'male': {0: {'ageClass': {4: {'ageClass': {4: 0}}}},
                                                             1: 1}},
                                                3: 0,
                                                4: 1}},
                               5: 1}},
              5: {'cigClass': {1: {'sysClass': {1: 0,
                                                2: {'gluClass': {1: {'cholClass': {1: {'ageClass': {5: 0}},
                                                                                   2: 0,
                                                                                   3: {'male': {0: 0,
                                                                                                1: 0}},
                                                                                   4: {'male': {0: 0,
                                                                                                1: 0}}}},
                                                                 2: {'male': {0: 0,
                                                                              1: {'cholClass': {2: 0,
                                                                                                4: 0}}}},
                                                                 3: {'male': {0: 0,
                                                                              1: 1}}}},
                                                3: {'cholClass': {2: {'male': {0: 0,
                                                                               1: {'gluClass': {1: 0,
                                                                                                2: 1}}}},
                                                                  3: {'male': {0: {'gluClass': {1: 0,
                                                                                                2: 0}},
                                                                               1: 0}},
                                                                  4: {'male': {0: {'gluClass': {1: 0,
                                                                                                2: 0}},
                                                                               1: 0}}}},
                                                4: {'cholClass': {3: {'male': {0: {'ageClass': {5: 1}},
                                                                               1: {'ageClass': {5: 0}}}},
                                                                  4: 1}}}},
                               2: {'cholClass': {2: 0,
                                                 3: {'male': {0: 0,
                                                              1: {'ageClass': {5: {'ageClass': {5: 1}}}}}},
                                                 4: 0}},
                               3: {'male': {0: {'sysClass': {2: 0,
                                                             3: {'cholClass': {3: 1,
                                                                               4: {'ageClass': {5: 0}}}}}},
                                            1: {'cholClass': {2: {'ageClass': {5: {'ageClass': {5: 1}}}},
                                                              3: {'gluClass': {1: {'ageClass': {5: 0}},
                                                                               2: 1}},
                                                              4: 1}}}},
                               4: 1,
                               5: 1}}}}

In [91]:
test = {'ageClass': 2,'male' : 1, 'cholClass': 2, 'cigClass' : 1, 'sysClass' : 2 , 'gluClass' : 1}
test_data = pd.Series(test)
test_prediction = predict_outcome(test,tree)
print(test_prediction)

0